<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super-Hotel App</title>
  </head>

  <body>
    <div class="hotel-list container">
      <h2>Liste des Hôtels</h2>
      <div class="header">
        <img *ngIf="isLoggedIn" src="assets/Logout.png" alt="Power Icon" routerLink="/logout">
        <img *ngIf="!isLoggedIn" src="assets/Login.png" alt="Power Icon" routerLink="/login">
    </div>


      <div class="mb-3" d-flex justify-content-between align-items-center>
        <button class="btn btn-success" (click)="onAddHotel()">Ajouter un Hôtel</button>
        <button class="btn btn-info" (click)="goToDashboard()">Tableau de bord des villes</button>
      </div>

     <!--<div class="mb-3">
        <label for="cityFilter" class="form-label">Sélectionner une ville :</label>
        <select id="cityFilter" class="form-select" (change)="onCityFilterChange($event)">
          <option value="">Toutes les villes</option>
          <option *ngFor="let city of listCities" [value]="city.id">{{ city.name }}</option>
        </select>
      </div> -->

      <ul class="cities-filter-container">
        <li *ngFor="let city of listCities">
          <button class="cities-filter-btn" (click)="filterCities(city.id)">
            {{ city.name }}
          </button>
        </li>
      </ul>
      

      <ng-container *ngIf="listHotels">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>IMAGE</th>
              <th>ID</th>
              <th>NOM</th>
              <th>VILLE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hotel of listHotels">
                <td>
                    <a [routerLink]="['/details-hotel', hotel.id]">
                      <img [src]="hotel.imageUrl" alt="{{ hotel.name }}" class="hotel-image">
                    </a>
                  </td>
              <td>{{ hotel.id }}</td>
              <td>{{ hotel.name }}</td>
              <td>{{ getCityNameById(hotel.cityId) }}</td>
              <td>
                <button class="btn btn-warning btn-sm me-2" (click)="onUpdateHotel(hotel.id)">Modifier</button>
                <button class="btn btn-danger btn-sm" (click)="onDeleteHotel(hotel.id)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </body>
</html>
