body {
    background-color: #e0f7fa; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #00796b;
  }

  .hotel-list.container {
   background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #fff;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .hotel-image {
    width: 100px;
    height: auto;
    cursor: pointer;
  }

